version: '3.8'

services:
  # --- BACKEND (PHP) ---
  # Usa a pasta ./php para edição em tempo real
  backend:
    image: toshiro-backend:v1
    build:
      context: ./php
      dockerfile: Dockerfile
    volumes:
      # O PULO DO GATO: Mapeia sua pasta './php' para o servidor web.
      # Alterou no VS Code -> Alterou no Site.
      - ./php:/var/www/html
    deploy:
      replicas: 1
      placement:
        constraints:
          # IMPORTANTE: O container precisa rodar onde a pasta 'php' existe.
          # Confirme se o nome do seu host é este mesmo com o comando 'hostname'
          - node.hostname == shibakita-manager-1
    networks:
      - shibakita-net
    depends_on:
      - db

  # --- BANCO DE DADOS (MySQL) ---
  # Usa Volume Padrão (Interno do Docker) para os dados
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: Senha123
      MYSQL_DATABASE: meubanco
    volumes:
      # 1. Volume Padrão: Salva os dados brutos internamente no Docker (Segurança)
      - db_data:/var/lib/mysql
      # 2. Inicialização: Lê seu arquivo SQL apenas para criar a tabela na primeira vez
      - ./php/banco.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - shibakita-net
    deploy:
      placement:
        constraints: [node.role == manager]

  # --- PROXY (Nginx) ---
  proxy:
    image: toshiro-proxy:v1
    build:
      context: ./proxy
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - shibakita-net
    depends_on:
      - backend
    deploy:
      replicas: 2
      placement:
        constraints: [node.role == manager]

networks:
  shibakita-net:
    driver: overlay
    attachable: true

# --- DEFINIÇÃO DO VOLUME PADRÃO ---
volumes:
  db_data: 
    # O Docker vai criar este volume automaticamente em /var/lib/docker/volumes/...
    # Seus dados estarão seguros aqui.